header{
  text-align: center;
}
section{
  display: inline-block;
  margin-left: 6em;
}


.add{
  float: left;
}

.list{
  float: right;
}
body{
  font-family: 'Cinzel', serif;
  font-size: 4em;
  /*text-align: center;*/
}

button{
  width: 60px;
  height: 30px;
  background: none;
  border: 1px solid black;
  border-radius: 30%;

}
button:hover{
  border-radius: 50%;
}
ul li{
  list-style-type: none;
}
